* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 100%;
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #left {
  width: 300px;
  min-height: 100vh;
  border-right: 2px solid #F5F5F5;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #left #logo-profile {
  width: 129px;
  padding: 20px 0 35px 0;
}

main #left #profile-info {
  width: 100%;
  background: #FAFAFC;
  border-radius: 15px;
  padding: 15px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

main #left #profile-info #profile-img-section {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

main #left #profile-info #profile-img-section #status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3AC48E;
  border: 1px solid white;
  -webkit-transform: translate(28px, 30px);
          transform: translate(28px, 30px);
}

main #left #profile-info #user {
  padding-left: 16px;
  overflow: hidden;
}

main #left #profile-info #user #user-name {
  overflow: hidden;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
}

main #left #profile-info #user #email-id {
  overflow: hidden;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #BCBCBC;
}

main #left ul {
  list-style: none;
  width: 100%;
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  padding: 35px 10px 10px 10px;
}

main #left ul li {
  color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main #left ul li a {
  text-decoration: none;
  color: #C4C4C4;
  padding-left: 18px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main #left ul li:hover, main #left ul a:hover {
  color: black;
}

main #right {
  width: 100%;
  padding: 35px 35px 0 35px;
  overflow: hidden;
}

main #right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #right ul li input {
  width: 60vw;
  padding: 10px 100px;
  font-size: 18px;
  background: #FAFAFC;
  border-radius: 10px;
  border: none;
}

main #right h1 {
  padding: 44px;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
}

main #right #new-business {
  width: 100%;
  position: relative;
  z-index: 99;
  height: 513px;
  padding: 0px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #right #new-business #progressbar {
  width: 100%;
  padding-bottom: 20px;
}

main #right #new-business #progressbar ul {
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 20px;
}

main #right #new-business #progressbar ul li {
  width: 33%;
  text-align: center;
  padding: 10px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border-radius: 20px;
}

main #right #new-business #progressbar ul #company {
  background-color: #323232;
  color: white;
}

main #right #new-business #form-background {
  width: 100%;
  height: 600px;
  background: url(../images/form-background.svg) no-repeat center center;
  background-size: cover;
  border-radius: 20px;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

main #right #new-business #form-background #forms {
  width: 54%;
  min-height: 410px;
  position: relative;
}

main #right #new-business #form-background #forms #company-form {
  width: 100%;
  min-height: 410px;
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 46px 70px;
  position: relative;
  margin-bottom: 40px;
}

main #right #new-business #form-background #forms #address-form {
  width: 100%;
  height: 410px;
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 46px 70px;
  position: absolute;
  bottom: -500px;
}

main #right #new-business #form-background #forms #details-form {
  width: 100%;
  height: 410px;
  background-color: #F5F5F5;
  border-radius: 20px;
  padding: 46px 70px;
  position: absolute;
  bottom: -500px;
}

main #right #new-business #form-background #forms #details-form input[type=text] {
  width: 45%;
  margin-right: 10px;
  padding: 4px 0px;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #000000;
  font-size: 25px;
  margin-bottom: 60px;
  font-weight: 600;
}

main #right #new-business #form-background #forms #details-form input[type=text]::nth-child(1) {
  float: left;
}

main #right #new-business #form-background #forms #details-form input[type=text]::nth-child(2) {
  float: right;
}

main #right #new-business #form-background #forms input[type=date] {
  width: 45%;
  margin-right: 10px;
  padding: 4px 0px;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #000000;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 600;
}

main #right #new-business #form-background #forms select {
  width: 48%;
  margin-right: 10px;
  padding: 4px 0px;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #000000;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 600;
}

main #right #new-business #form-background #forms h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 73px;
}

main #right #new-business #form-background #forms input[type=text] {
  width: 100%;
  padding: 4px 0px;
  border: none;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #000000;
  font-size: 25px;
  margin-bottom: 60px;
  font-weight: 600;
}

main #right #new-business #form-background #forms input[type=button] {
  width: 140px;
  padding: 11px 52px;
  float: right;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  background-color: #323232;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

main #right #new-business #form-background #forms input[type=button]:hover {
  background-color: black;
}

main #right #new-business #form-background #forms #back {
  float: left;
  background-color: #b8b8b8;
  color: black;
}

main #right #new-business #form-background #forms #back:hover {
  background-color: #8d8d8d;
}

main #right #new-business #form-background #forms #back2 {
  float: left;
  background-color: #b8b8b8;
  color: black;
}

main #right #new-business #form-background #forms #back2:hover {
  background-color: #8d8d8d;
}

main #right #new-business #form-background #forms p {
  font-size: 12px;
}

main #right #new-business #form-background #business-img {
  width: 100%;
  position: absolute;
  -webkit-transform: translate(68%, -1%);
          transform: translate(68%, -1%);
}

@-webkit-keyframes slide-up {
  0% {
    bottom: -500px;
  }
  70% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes slide-up {
  0% {
    bottom: -500px;
  }
  70% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes slide-down {
  0% {
    bottom: 0px;
  }
  70% {
    bottom: 10px;
  }
  100% {
    bottom: -500px;
  }
}

@keyframes slide-down {
  0% {
    bottom: 0px;
  }
  70% {
    bottom: 10px;
  }
  100% {
    bottom: -500px;
  }
}

@-webkit-keyframes popout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
  60% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
    display: block;
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
    display: none;
  }
}

@keyframes popout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
  60% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
    display: block;
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
    display: none;
  }
}

@-webkit-keyframes popout2 {
  0% {
    bottom: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    bottom: 0;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
  }
  100% {
    bottom: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
  }
}

@keyframes popout2 {
  0% {
    bottom: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    bottom: 0;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
  }
  100% {
    bottom: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
  }
}

@-webkit-keyframes popon {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
    display: none;
  }
  60% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
    display: block;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
}

@keyframes popon {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
    display: none;
  }
  60% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
    display: block;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
}

@-webkit-keyframes popon2 {
  0% {
    bottom: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
    display: none;
  }
  60% {
    bottom: 0;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
    display: block;
  }
  100% {
    bottom: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
}

@keyframes popon2 {
  0% {
    bottom: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 0.3;
    display: none;
  }
  60% {
    bottom: 0;
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
    display: block;
  }
  100% {
    bottom: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
    display: block;
  }
}

@-webkit-keyframes darpan_slide {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@keyframes darpan_slide {
  0% {
    left: -300px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes darpan_slide_exit {
  0% {
    left: 0;
  }
  100% {
    left: -300;
  }
}

@keyframes darpan_slide_exit {
  0% {
    left: 0;
  }
  100% {
    left: -300;
  }
}

@media screen and (max-width: 1119px) {
  #right ul li input {
    width: 40vw !important;
  }
}

@media screen and (max-width: 751px) and (min-width: 300px) {
  #right {
    padding: 0px !important;
  }
  #close {
    display: block !important;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
  #left {
    position: absolute;
    top: 0;
    left: -300px;
    z-index: 1000;
    background-color: white;
  }
  #right ul li input {
    width: 80% !important;
    padding: 10px 50px !important;
    float: right;
  }
  #menu-bar {
    width: 30px !important;
    height: 30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 2px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    cursor: pointer;
  }
  #menu-bar div {
    width: 100%;
    height: 2px;
    background-color: black;
  }
  #right ul li img {
    display: none;
  }
  #right ul li #nortification {
    display: none;
  }
}

@media screen and (max-width: 1413px) and (min-width: 1120px) {
  #forms {
    width: 80% !important;
  }
  #business-img {
    -webkit-transform: translate(60%, -1%) !important;
            transform: translate(60%, -1%) !important;
  }
}

@media screen and (max-width: 1119px) and (min-width: 545px) {
  #new-business {
    padding: 0 !important;
  }
  #forms {
    width: 100% !important;
  }
  #forms h2, #forms input[type=text] {
    font-size: 18px !important;
  }
  #business-img {
    display: none;
  }
}

@media screen and (max-width: 544px) {
  #new-business {
    padding: 0 !important;
  }
  #forms {
    width: 100% !important;
  }
  #forms h2 {
    padding-bottom: 50px !important;
  }
  #forms h2, #forms input[type=text], #forms input[type=button], #forms input[type=date], #forms select {
    font-size: 15px !important;
  }
  #forms input[type=date], #forms select {
    width: 45% !important;
    font-size: 12px !important;
  }
  #forms input[type=button] {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  #details-form, #address-form, #company-form {
    padding: 35px 22px !important;
  }
  #business-img {
    display: none;
  }
  #form-background {
    padding: 20px 20px !important;
  }
}

@media screen and (max-width: 840px) {
  #new-business {
    padding: 0 !important;
  }
  input[type=date], select {
    width: 45% !important;
    font-size: 12px !important;
  }
  input[type=button] {
    width: 100% !important;
    margin-bottom: 1px !important;
  }
}
/*# sourceMappingURL=style_business.css.map */